<section class="bg__gray pt-5 se-mobil">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<h2 class="title">Tranfers <small>Prescription</small></h2>
				<p class="p-dark">To transfer prescriptions please completely fill out and submit the form below with a brief message and we will call you as soon as we get it during normal business hours, or please feel free to contact us at Toll-Free: 800-556-1462</p><a class="btn button-primary" href="transfer-prescriptions.html">Read More<i class="icon-arrow-right"></i></a>
			</div>
			<div class="col-lg-4"><img class="img img-fluid" src="img/doctor-3.png" alt=""/></div>
		</div>
	</div>
</section>